.product-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list article {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list article strong {
    font-size: 16px;
    color: #999999;
    margin-top: 5px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list article p {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list article select {
    height: 42px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #6e75dc;
    background: none;
    margin-top: 10px;
    color: #6e75dc;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-list article input {
    height: 42px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #6e75dc;
    background: none;
    margin-top: 10px;
    color: #6e75dc;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-list article button {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #6e75dc;
    background: none;
    margin-top: 10px;
    color: #6e75dc;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-list button {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #0a9b33;
    background: #09c33d;
    margin-top: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-bottom: 20px;
}

.product-list button:hover {
    background: #0a9b33;
    color: #ffffff;
}

.font-awesome {
    margin-left: 5px;
}

